.ShopRouteCtn {
  margin-top: 50px;
  .h2 {
    margin-bottom: 20px;
  }
  .products-container {
    display: grid;
    // grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 10px;
  }
}
