.CheckOutRoute {
  padding-left: 10%;
  padding-right: 10%;
  .description-row {
    margin-top: 30px;
    display: flex;
    span {
      flex-grow: 1;
    }
  }
  .checkOutItemsCtn {
    height: 80vh;
    overflow: auto;
    // scrollbar-color: black;
    // border-bottom: solid black 1px;
  }
  h2 {
    text-align: right;
  }
}
