.CheckOutItem {
  width: 100%;
  margin-top: 40px;
  font-weight: 900;
  font-size: 1.2rem;
  user-select: none;

  .checkOutCtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .image {
      width: 200px;
    }
    .description {
      padding-left: 80px;
      flex-grow: 1;
    }
    .quantity {
      flex-grow: 1;
      //   padding-left: 80px;

      //   background-color: blue;
      #incredecre {
        cursor: pointer;
        font-size: 1.8rem;
        // margin: 0 20px;
      }
    }
    .price {
      flex-grow: 1;
      //   padding-left: 60px;
    }
    .remove {
      flex-grow: 1;
      cursor: pointer;
    }
  }
  hr {
    margin-top: 20px;
  }
}
